<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">home</a> |
        <a href="/about">about</a> |
        <a href="/pokemons">pokemons</a>
    </nav>
    <h1>포켓몬 도감</h1>
    <div id="poke-list">
        <% for(let i = 0; i < pokemons.length; i++){ %>
            <div class="box">
                <img src= "<%= pokemons[i].imgUrl %>"/>
                <p><%= pokemons[i].name %> </p>
                <p> 속성: <%= pokemons[i].type %> </p>
            </div> 
        <% }; %>
    </div>
    <!-- <script>
        fetch('http://localhost:3001/pokemons/all')
        .then(res => res.json())
        .then(data => {
            for (let i = 0; i < data.length; i++){
            const listEl = document.querySelector('#poke-list'); 
            const itemEl = document.createElement("div");
            itemEl.classList.add("item");
            itemEl.innerHTML = 
            `<img src="${data[i].imgUrl}" alt="${data[i].name}"/>` + `${data[i].name}`
            listEl.appendChild(itemEl);
        }
        })
    </script> -->
    
       
        
        <img src= "<%= pokemons[0].imgUrl %>"/>
        
</body>
</html>